/* @import https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css; */

:root {
  --garnet: #73000a;
  --aero-blue: #C0FFEE;
  --blue-gray: #6699CC;
  --yellow: #DBB957;
  /* --charcoal: #2A3D45; */
  --charcoal: #666699;
}

body {
  width: 75%;
  margin: auto;
  background-color: var(--charcoal);
}

h1 {
  color: var(--garnet);
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 50pt;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--yellow);
}

h2,h3,h4,h5,h6 {
  color: var(--blue-gray);
}

p {
  color: var(--yellow);
}

a {
  color: var(--aero-blue);
}

pre {
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 10px;
}
